h1, h2, h3, h4, h5, h6, .perex{
  font-family: 'Open Sans', sans-serif;
}

.responsive {
  width: 100%;
  height: auto;
}
.panel-heading{
  background-color: #222222 !important;
  color: white !important;
}
pre{
  font-style: normal !important;
}
a.active{
  background: black;
  color: white !important;
}

.message{
    border: 1px solid #9DC2F8;
    background: #DBE8F8;
    padding: 3px;
}

.fancy-input{
    padding:5px;
    border:2px dashed #c0bce0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: border, 0.2s;
}
.fancy-input:hover{
    padding:5px;
    border-bottom:2px solid #424242;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;

}
.fancy-input:focus{
    padding:5px;
    border-bottom:2px solid #001682;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;

}
.fancy-areainput{
    width: 100%;
    height: auto;
    padding:5px;
    border:2px dashed #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: border, 0.2s;

}
.fancy-areainput:hover{
    width: 100%;
    height: auto;
    padding:5px;
    border-bottom:2px solid #424242;
    -webkit-border-bottom-left-radius: 12px;
    border-bottom-left-radius: 12px;
    -webkit-border-bottom-right-radius: 12px;
    border-bottom-right-radius: 12px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;

}
.fancy-areainput:focus{
    width: 100%;
    height: auto;
    padding:5px;
    border-bottom:2px solid #001682;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}
.fancy-submit{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  background: #FFF;
	border: 3px solid #1E4A80;
	color: #000;
	padding: 5px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	/*width: 100%;*/
	transition: background, 0.2s;
	-webkit-transition: background, 0.2s;
	font-size: 105%;
	cursor: pointer;
  padding-left: 50px;
  padding-right: 50px;
}
.fancy-submit:hover {
	background: #1E4A80;
	color: #FFF;
}
.fancy-submit:focus {
	background: #007;
	color: #EEE;
	border-color: #007;
}
a.fancy-submit{
  text-decoration: none;
}

.fancy-select{
  background: #A58754;

}


html, body {
  height: 100%;
}

#wrap {
  min-height: 92.5%;
}

#main {
  overflow:auto;
  padding-bottom:80px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -60px; /* negative value of footer height */
  height: 60px;
  clear:both;
  padding: 10px;
  padding-top:20px;

  background-color: #222222 !important;
  color: white;
  text-align: center;
}

.jumbotron{
  /*font-family: "Palatino", "Palladio";*/
  font-family: "Garamond", serif !important;
}
.jumbotron h1{
  font-size: 4.2vw;
  font-family: "Garamond", serif !important;
}
.jumbotron i{
  font-size: 1.3vw+30%;
  font-family: "Garamond", serif !important;
}
.jumbotron{
  position: relative !important;
}
.jumbo-text {
  position: absolute;
  right: 0px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.jumbo-text h1{
  font-variant: small-caps;
}

.perex{
  color: #1E4A80;
  font-size: larger;
  font-weight: bold;
}

p.gray{
  color: #888A85;
}
.article-content{
  font-family: serif !important;
}
.article-content:after{
  clear: both;
}

/*
Article frame
*/
.article-frame{
  background-color: #F5F5F5;
  margin-bottom: 20px;
  width: 100%;
}
.article-frame header{
  background-color: #1E4A80 !important;
  color: #FFFFFF !important;
  padding-top: 0.5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: background, 0.2s;
	-webkit-transition: background, 0.2s;
}

.article-frame header:hover{
  background-color: #286EC1 !important;
}
.article-frame header a{
  color: #EEEEEC;
  text-decoration-color: #FFFFFF !important;
}
.article-frame header p.gray{
  color: #F2F2F0;
}


.article-frame header.empty{
  color: black !important;
  background-color: #FCC307 !important;
}
.article-frame header.empty p.gray{
  color: #555753;
}

.article-frame header.empty:hover{
  background-color: #FCD965 !important;
}

.article-frame header.archival{
  background-color: #5C3566 !important;
}

.article-frame header.archival:hover{
  background-color: #9656A6 !important;
}


.article-frame section{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}



body{
  overflow-y:scroll;
}

/*
Images
*/
figure.image {
    display: inline-block;
    border: 1px solid #BABDB6;
    /* adjust as needed */
    /*padding: 3px;*/
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}
figure.image img {
    vertical-align: top;
    border-radius: 5px;
    /*margin: 2px;*/
    max-width: 100% !important;
    height: auto !important;

}
figure.image figcaption {
    text-align: center;
    font-family: sans-serif;
}
.align-left{
  float: left;
}
.align-right{
  float: right;
}
figure.align-left{
  margin-right: 20px;
}
figure.align-right{
  margin-left: 20px;
}
/*
Signs (triangle and square)
*/
a.sign:hover{
  text-decoration: none;
}
a.sign:focus{
  text-decoration: none;
}
a.dot{
  font-size: 140%;
}

.full-width{
  width: 100%;
}
.center {
    text-align: center;
}


.keywords{
  float: right;
  margin-bottom: 10px;
}
.keywords::after{
  clear: both;
}
a.keyword{
  display: inline-block;
  background-color: #BEDEFF;
  color: #204A87;
  padding: 8px;
  margin-left: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  transition: background-color, 0.15s;
  overflow: auto;
}

a.keyword:hover{
  background-color: #204A87;
  color: #FFFFFF;
  text-decoration: none;
}

@media (max-width: 767px /*width when bootstrap goes to mobile mode*/) {
  .jumbo-text{
    display: none;
  }
  .jumbotron img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .navbar{
    text-align: center !important;
  }
  figure.align-left, figure.align-right{
    margin-right: 0px;
    margin-left: 0px;
    float: none;
  }

  figure.align-left img, figure.align-right img{
    float: none;
  }


}
